<div class="content">
  <section>
    <a href="https://www.linkedin.com/in/robin-smit-b0ba7317b">
      <img alt="linkedin profile"  src="https://img.shields.io/badge/Xing-026466?style=for-the-badge&logo=xing&logoColor=white" />
    </a>
    <a href="https://www.xing.com/profile/Robin_Smit3">
      <img alt="xing profile"  src="https://img.shields.io/badge/Linked_In-3776AB?style=for-the-badge&logo=linkedin&logoColor=white&link=https://www.linkedin.com/in/robin-smit-b0ba7317b/" />
    </a>
  </section>
</div>
